<footer id="footer" >
    <div id="footer-container">
      <div id="container-socalbox" class="socal-button-box" >
        <img class="socal-icon" src="../../assets/all_photo/insta.png" >
        <img class="socal-icon" src="../../assets/all_photo/facebook.png" >
        <img class="socal-icon" src="../../assets/all_photo/twitter.png" >
        <img class="socal-icon" src="../../assets/all_photo/youtube.png" >

      </div>
      <hr id="footer-line" >
      <div id="container-buttonbox" class="socal-button-box"  >
        <button class="buttonbox-button" type="button" ><a >  HOME</a></button>
        <button class="buttonbox-button" type="button" ><a >  ABOUT</a></button>
        <button class="buttonbox-button" type="button" ><a >  VIDEOS</a></button>
        <button class="buttonbox-button" type="button" ><a >  REGISTR</a></button>
        <button class="buttonbox-button" type="button" ><a >  PODCAST</a></button>
      </div>
      <div id="container-copyright" class="socal-buttoN-box">
        Copyright © 2024 Satish Batra - All Rights Reserved.
      </div>

    </div>

</footer>
