<div id="body">
  <div id="con">
 <h3 id="learn">LEARN BASIC SECRETS OF TRAINING INDUSTRY</h3>
 <div id="text-back">
  <p class="how">&#10150; How To Get Paid To Share Your Knowledge & Experience ?</p>
  <p class="how">&#10150; How to find your profitable Niche/Topic/Purpose/Passion?</p>
  <p class="how">&#10150; How To Become Content Creator ?</p>
  <p class="how">&#10150; How To Generate Lead & Conversion?</p>
  <p class="how">&#10150; How To Create Brand Identity?</p>
  <p class="how">&#10150; 10,000₹ - Win Money Video Course (FREE)</p>
  <p class="how">&#10150; Access to Premium WhatsApp Group for FREE</p>
 </div>
  </div>
</div>
