<div id="con">


    <div id="world-box">
      <div>
        World
        <p> Record Holder</p>
      </div>
      <hr>
      <div>
        Most Populer
        <p> Public Speaker</p>
      </div>
      <hr>
      <div>
        2.3 Billion
        <p> Views on You Tube</p>
      </div>
      <hr>
      <div>
        1200+
        <p> Mentorship Sessions</p>
      </div>
      <hr>
      <div>
        Awards
        <p> & Recognitions</p>
      </div>
    </div>



</div>

<div id="card3-con">
  <div id="card3-con1">

    <div class="card">
      <div>
      <img src="../../assets/all_photo/bhatra1.jpeg">
    </div>
      <h4>PODCAST</h4>
      <p>If you have achieved something extraordinary in your field & would like to share your experience with the World, kindly contact us. We will invite you as a Guest in the Satish Batra PODCAST.</p>
      <button type="button" ><a>Contact us</a></button>

    </div>

    <div class="card">
      <div>
      <img src="../../assets/all_photo/bhatra2.jpeg">
    </div>
      <h4>ABOUT</h4>
      <p>Satish Batra is a name among millions who struggled, failed & surged ahead in pursuit of success. Rowing through ups and downs, it was time that taught him the true meaning of his life</p>
      <button type="button" ><a>Learn More</a></button>
    </div>

    <div class="card">
      <div>
      <img src="../../assets/all_photo/bhatra3.jpeg">
    </div>
      <h4>REGISTER</h4>
      <p>To attend the Life Changing Seminar by Satish Batra, kindly register yourself for free. Whenever there is a seminar in your city, we will contact you through email or mobile.</p>
      <button type="button" ><a >Register</a></button>
    </div>

  </div>
</div>
