<div id="body">
  <div>
  <p> Double your revenue and profitability with expert coaching in management, sales, and finance. Boost productivity and attract more customers with Sashaktikarn today.” </p>

  <h3> &#10150; Attended Leadership Seminars in Switzerland, Melbourne Australia, Paris and Toronto Canada.</h3>
  <h3>&#10150; Trained by world’s best Education System and trainers ,coaches in USA, Europe worldwide. </h3>
  <h3>&#10150; Worked With World’s No1 Direct Selling Company From Ada Michigan, USA</h3>
  <h3>&#10150; 20 Years of Business Trained : 10000+ Trainers</h3>
    </div>
</div>
