<div id="about-empower-container">

  <h1 id="about-empower">About Empower <b id="b2b"> B2B</b> </h1>
  <div class="about-empower-container-inside-box1">

    <p  id="about-empower-container-text-"> Empower B2B is into the business of “empowering entrepreneurs” through its core activities of business coaching, business consulting<br> and organizational turnaround interventions.<br><br> Empower B2B was founded by Satish Batra in 1997 with a very powerful purpose which was “to enable individuals and organizations<br> reach a higher level of thinking thereby giving a meaning to their existence."</p>
  </div>
  <div class="about-empower-container-inside-box">


    <div class="about-empower-container-inside-img-text-box">
      <img id="about-empower-container-inside-img-box-bhatra-img" src="../../assets/all_photo/bhatra-back-black.jpeg"
        alt="bhatra-image">
    </div>
    <div class="about-empower-container-inside-img-text-box">
      <div id="about-empower-container-inside-b2b-img-box">
        <img id="about-empower-container-inside-b2b-img" src="../../assets/all_photo/empower-logo-buliding.png">
      </div>
      <div id="about-empower-container-inside-text-box">

        <h3> Satish Batra</h3>
        <p>Unlock Real-World Business Success</p><BR>
        Attended Leadership Seminars in Switzerland, Melbourne Australia, Paris and Toronto Canada.<br>
        Trained by world’s best Education System and trainers ,coaches in USA, Europe worldwide.<br>
        Worked With World’s No1 Direct Selling Company From Ada Michigan, USA 20 Years of Business Trained : 10000+<br>
        Trainers
      </div>
      <div>
        <button id="about-empower-container-inside-button" type="button"> <a> Know more</a> </button>
      </div>
    </div>

  </div>
</div>

<div id="about-empower-lower-padding"></div>
