<div id="body">
  <div id="con">
    <div id="who_div">
      <h2>who is this event for</h2>
    </div>
    <div id="box_con">
      <div class="box">
        <div class="box_circle"></div>
        <h4> Coach</h4>
      </div>
      <div class="box">
        <div class="box_circle"></div>
        <h4> Coach</h4>
      </div>
      <div class="box">
        <div class="box_circle"></div>
        <h4> Coach</h4>
      </div>
      <div class="box">
        <div class="box_circle"></div>
        <h4> Coach</h4>
      </div>
      <div class="box">
        <div class="box_circle"></div>
        <h4> Coach</h4>
      </div>
      <div class="box">
        <div class="box_circle"></div>
        <h4> Coach</h4>
      </div>
      <div class="box">
        <div class="box_circle"></div>
        <h4> Coach</h4>
      </div>
      <div class="box">
        <div class="box_circle"></div>
        <h4> Coach</h4>
      </div>
      <div class="box">
        <div class="box_circle"></div>
        <h4> Coach</h4>
      </div>

    </div>

  </div>
</div>
