<div id="keynote-container">
    <div id="container-img-box">

      <img id="img-box-img" src="../../assets/all_photo/bhatra-up-light.jpg" >

      <div id="container-text-box">
        <h1>KEYNOTES</h1>
      <p>  Dr. Satish Batra is an accomplished business speaker, known for his expertise in leadership, innovation, and organizational growth. With decades of experience in corporate strategy and entrepreneurship, he has a proven track record of helping businesses unlock their full potential. His keynote sessions focus on transformative leadership, fostering a culture of innovation, and navigating complex market challenges.<br><br> Dr. Batra's dynamic speaking style, coupled with actionable insights, empowers leaders to drive sustainable growth and build resilient organizations. His speeches often inspire audiences to embrace change, optimize performance, and lead with purpose in an ever-evolving business landscape.</p>
      </div>
    </div>

</div>
