<div id="body">
<div class="unlock-secrets-container">
  <h2 class="unlock-title">"UNLOCK THE SECRETS TO"</h2>
  <h3 class="unlock-subtitle">
    LEARN THE SECRETS BY INVESTING JUST
    <span class="highlight">60 MINUTES</span>
  </h3>
  <div class="convert-container">
    <p><i>
      <span>CONVERT YOUR</span>
      <span class="highlight"> PASSION</span>
      <span> INTO </span>
      <span class="highlight">PROFITABLE </span>
      <span>ONLINE PROFESSION</span>
      </i>
    </p>
  </div>
  <p class="benefits">
    GET MORE TIME - GET MORE FREEDOM - GET MORE INCOME - TRAVEL MORE
  </p>
</div>
</div>
